{% extends 'base.html' %}

<!-- block content가 있어야함 -->
{% block content %} 
    <form action="{% url 'cafe:order_result' %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend><h1>메뉴</h1></legend>
            {% if error_message %}
                <p><strong>{{ error_message }}</strong></p>
            {% endif %}
            {% for item in lion.item_set.all %}
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ item.id }}">
                <label for="choice{{ forloop.counter }}">{{ item.name }}</label><br>
            {% endfor %}
        </fieldset>
        <input type="submit" value="담기">
    </form>

    <li><a href="{% url 'cafe:order_result' %}">주문하기</a></li>
{% endblock %}
